@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Overpass:400,700|Oswald:400,700&subset=latin-ext');
body {
    font-family: 'Lato', sans-serif;
}
html {
    height: 100%;
}
.btn-primary,
.btn-xl,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-weight: 700;
}
p {
    font-size: 16px;
    color: #777;
    line-height: 24px;
    font-family: 'Overpass', sans-serif;
}
/* --- NAV --- */
nav {
    position: fixed;
    background: #fff;
    z-index: 9;
    width: 100%;
    padding: 30px;
    display: none;
    box-shadow: -5px 10px 12px -10px rgba(201, 201, 201, 0.67);
}
.nav-menu {
    float: right;
    line-height: 32px;
}
nav ul li {
    float: left;
    margin-right: 15px;
    font-size: 16px;
}
nav ul li a {
    color: #000;
}
nav ul li a:hover {
    color: #afafaf;
}
.responsive {
    display: none;
    font-size: 23px;
}
.active {
    color: #afafaf;
}
/* --- HOME --- */
.home {
    background: url(../images/home-1.jpeg) center center;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 2;
    position: relative;
}
.home-content h1 {
    font-size: 80px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.home:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.home-down {
    color: #fff;
    font-size: 40px;
    padding-top: 40px;
    padding-left: 20px;
    display: inline-block;
    transition: all 0.3s ease;
}
.home-down:hover {
    color: #fff;
    transition: all 0.3s ease;
}
.home-down:focus {
    color: #fff;
}
@keyframes bounce {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.bounce {
    border-radius: 50%;
    animation: bounce 2s infinite;
}

.typed-cursor {
    opacity: 1;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/* --- ABOUT --- */
.about {
    padding-top: 90px;
}
.about-image img {
    width: 100%;
}
.about h2 {
    font-size: 23px;
    line-height: 30px;
}
.about-text {
    display: block;
}
.out {
}
.gray-filter {
    filter: grayscale(100%);
}
.gray-bg {
    margin-top: 90px;
    background-color: #f6f6f6;
}
.skills {
    padding-top: 50px;
    padding-bottom: 50px;
}
.skills img {
    max-width: 150px;
}
/* --- PORTFOLIO --- */
#portfolio {
    padding-top: 50px;
}
section h2.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
section h3.section-subheading {
    font-size: 16px;
    text-transform: none;
    font-weight: 400;
    margin-bottom: 75px;
}
#portfolio .portfolio-item {
    margin: 0 0 30px;
}
#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    background: rgba(255, 0, 30, 0.9);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    width: 100%;
    height: 20px;
    font-size: 20px;
    text-align: center;
    top: 50%;
    margin-top: -12px;
    color: #fff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-caption {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    text-align: center;
    padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
    text-transform: none;
    margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
    padding-top: 2px;
    font-size: 16px;
    font-style: italic;
    margin: 0;
}
.portfolio-modal .modal-dialog {
    margin: 0;
    height: 100%;
    width: auto;
}
.portfolio-modal .modal-content {
    border-radius: 0;
    background-clip: border-box;
    box-shadow: none;
    border: none;
    min-height: 100%;
    padding: 100px 0;
    text-align: center;
}
.portfolio-modal .close-modal {
    position: absolute;
    width: 75px;
    height: 75px;
    background-color: transparent;
    top: 25px;
    right: 25px;
    cursor: pointer;
}
.portfolio-modal .close-modal .lr {
    height: 75px;
    width: 1px;
    margin-left: 35px;
    background-color: #222;
    transform: rotate(45deg);
    z-index: 22;
}
.portfolio-modal .close-modal .rl {
    height: 75px;
    width: 1px;
    background-color: #222;
    transform: rotate(90deg);
    z-index: 23;
}
.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}
.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-style: italic;
    font-size: 16px;
}
.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}
.portfolio-modal .modal-content ul.list-inline {
    margin-bottom: 30px;
    margin-top: 0;
}
.img-centered {
    margin: 0 auto;
}
/* --- CONTACT --- */
#contact {
    min-height: 300px;
}
#contact h2.section-heading {
    margin-top: 45px;
    margin-bottom: 45px;
}
.contact-info {
    text-align: center;
}
.contact-info-link {
    margin-bottom: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.contact-info-link i {
    text-align: center;
    background-color: #333;
    color: #fff;
    font-size: 22px;
    padding: 18px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.contact-info-link:hover i {
    background-color: #f6f6f6;
    color: #333;
}
.contact-info p {
    line-height: 1;
    font-size: 20px;
    color: #000;
    font-family: 'Lato';
}
/* --- FOOTER --- */
footer {
    padding: 35px;
    background-color: #333;
}
footer p {
    line-height: 1;
    color: #eee;
    text-align: center;
    font-size: 15px;
}
