/*--- FONTS ---*/
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    color: #1a1a1a;
    background-color: rgba(222,223,224, .4);
    font-family: 'Open Sans', sans-serif;
}
h1, h2 {
    font-family: 'Roboto Slab', serif;
}
h1 {
    font-size: 42px;
}
h2 {
    font-size: 34px;
}
/*--- HEADER ---*/
header {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-align: center;
}
.hero {
    width: 100%;
    height: 44vh;
    padding-top: 12vh;
    background: linear-gradient(to right, rgba(104,123,175,1) 0%,rgba(98,167,204,1) 100%);
    color: #efefef;
}
/*--- ABOUT ME ---*/
.hr-line {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(26, 26, 26, 0), rgba(26, 26, 26, 0.75), transparent);
    opacity: 0.9;
    margin-bottom: 60px;
}
.about-me {
    margin: 0 auto;
    padding: 100px 0;
    max-width: 800px;
    text-align: center;
}
.about-me-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    text-align: left;
}
/*--- SKILLS ---*/
.skills {
    background:  linear-gradient(to right, rgba(93,65,87,1) 0%,rgba(91,106,138,1) 100%);
    text-align: center;
    padding: 15px 0 0;
}
.second {
    margin-top: 30px;
}
.third {
    margin-top: 30px;
}
.skills p {
    font-size: 26px;
    margin-top: 5px;
    color: #efefef;
    text-align: center;
}
.one-skill {
    padding: 10px;
}
.one-skill span {
    font-weight: bold;
}
.one-skill img {
    max-height: 130px;
    max-width: 130px;
    float: left;
}
.one-skill p {
    font-size: 20px;
    font-family: 'Open Sans';
    float: right;
}
.skills h1 {
    color: #efefef;
}
.skills .hr-line {
    background-image: linear-gradient(to right, rgba(239, 239, 239, 0), rgba(239, 239, 239, 0.75), transparent);
}
.skills .container {
    margin: 0 auto;
}

.bootcamp img {
    max-width: 100%;
    padding: 25px 0;
}
/*--- CONTACT ---*/
.contact {
    text-align: center;
    margin: 0 auto;
    padding: 50px 0 150px;
    max-width: 800px;
}
.contact a {
    margin: 35px 10px 0;
    color: #1a1a1a;
    border: 2px solid #bbb;
    font-size: 24px;
}
.contact a:hover {
    transform: scale(1.2);
}
.contact span {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
}
.contact>span>a {
    border: none;
}
/*--- FOOTER ---*/
footer {
    max-width: 100%;
    height: 75px;
    line-height: 75px;
    text-align: center;
    background-color: rgb(40,40,40);
    color: #efefef;
}
footer p {
    margin: 0;
    font-size: 18px;
}